.brand{
    margin-left: 30px;
    font-family: cursive;
    padding-right: 100px;
    font-weight: bold;
    &&:hover{
        color: #58860a
    }
    
}   
.nav{
    padding-top: 2px;
    background-color: #edf6db;
    border-radius: 10px;
    padding-bottom: 2px;
}
.logo-img{
    margin-bottom: 15px;
}
.icon {
    width: 20px; 
    height: 20px;
    margin-right: 5px;
    margin-left: 30px;
    margin-bottom: 10px;

}

.font{
    font-family: cursive;

    &&:hover{
        background-color: #58860a;
        border-radius: 5px;
        color: #edf6db;
    }
}


/*
#font{
    &&:hover{
        background-color: #58860a;
        border-radius: 5px;
        color: #edf6db;

    }
}

h7{
    font:caption;
    font-size: large;
    &&:hover{
        background-color: #58860a;
        border-radius: 5px;
        color: #edf6db;
    }
}

*/