.custom-card {
  width: 607px;
  margin: 10px;
}

.custom-progress-bar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 20px;
  margin-left: auto;
  .progress-bar {
    background-color: #58860a;
  }
}

